@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------ */

nav {
    background-color: #F9F9F9;
    border-bottom: 1px solid #D9D9D9;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo img {
    margin-left: 20px;
}

.logo,
.nav-elements {
    padding: 2rem;
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profile-name {
    display: flex;
    flex-direction: column;
}

.profile-name p:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 800;
    color: #043E5F;
    margin: 0px;
}

.profile-name p:nth-child(2) {
    font-size: 0.75rem;
    font-weight: 400;
    color: #07689F;
    margin: 0px;
}

/* -----------------------------------------------  */

main {
    max-width: 80%;
    margin: 2rem auto;
    gap: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-final-payment {
    width: 32.188rem;
    gap: 2rem;
}

.flight-timing {
    height: 4rem;
    background-color: #07689F;
    color: white;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-around;
    align-items: center;
}

.flight-timing .right-final-payment {
    width: 32.188rem;
    border: 1px solid black;
}

.review-final-journey {
    justify-content: space-between;
}

.trip-summary p {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px;
}


.right-final-payment {
    gap: 2rem;
    width: 32.188rem;
}


.final-booking-user-details {
    gap: 1rem;
}

.final-booking-user-details div:nth-child(2) {
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
}

.final-booking-user-details div:nth-child(3) {
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
}

.final-booking-user-details p strong {
    color: #4C9839;
}

.user-input,
.card-final-details {
    gap: 1.5rem;
}

.payment-method-selection {
    justify-content: space-around;
    width: 100%;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
}

.payment-method-selection select {
    width: 94px;
    height: 44px;
}

.payment-method-selection div {
    gap: 10px;
}

.card-final-details input[type="text"],
input[type="tel"],
input[type="date"] {
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    border: 1px solid #A6A6A6;
    height: 3rem;
}

.card-final-details p {
    font-size: 0.9rem;
    font-weight: 500;
}

.first-div,
.second-div {
    justify-content: space-between;
}

.first-div div:nth-child(3) input {
    background: url(./assets/SE.png) no-repeat 7px 7px;
    padding-left: 30px;
}


.second-div div:nth-child(1) input {
    background: url(./assets/bank-card.svg) no-repeat 7px 7px;
    padding-left: 30px;
}

.card-details-button {
    margin-top: 1.5rem;
    justify-content: space-around;
}

.card-details-button div button {
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid #07689F;
    border-radius: 4px;
}

.card-details-button p {
    font-size: 0.6rem;
    font-weight: 400;
    color: #A6A6A6;
}

.card-details-button1 button {
    background-color: #07689F;
    color: #FFFFFF;
}

.card-details-button2 button {
    background-color: white;
    color: #07689F;
}



/* ---------------------------------------------------  */

.container1 {
    max-width: 80%;
    margin: 0 auto;
}

.footer-final {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin: 0 auto;
}

.footer-final h3 {
    font-size: 1rem;
    font-weight: 700;
}

.anchor-elements a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    opacity: 70%;
    margin: 12% 0;
}

.footer-social-links {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.flex-items {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}


.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback h4 {
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
}


.feedback input {
    width: 19.5rem;
    color: #A6A6A6;
    padding: 8px 8px;
    border: 0.5px solid #A6A6A6;
    border-radius: 4px 0px 0px 4px;
    font-size: 0.875rem;
    text-indent: 10%;
}

.feedback button {
    font-weight: 500;
    font-size: 0.875rem;
    width: 5.875rem;
    padding: 8px 16px 8px 16px;
    border-radius: 0px 4px 4px 0px;
    background-color: #07689F;
    color: white;
}

.feedback button:hover,
.card-details-button1:hover,
.card-details-button2:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.emailIcon {
    background-image: url(./asstes/footer-icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.container2 {
    width: 100%;
    background-color: #D9D9D9;
}

.footer-base {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.footer-base div {
    display: flex;
    font-weight: 500;
    color: #565656;
    font-size: 0.75rem;
}

.footer-base div:nth-child(3) {
    font-size: 1rem;
    font-weight: 700;
}

/* -------------------------------------------------------------------------------------   */


@media only screen and (min-width: 320px) and (max-width: 480px) {

    .container {
        max-width: 100%;
    }

    .logo {
        padding: 2rem 1rem;
    }

    main {
        margin: 0 auto;
        flex-direction: column;
    }

    .left-final-payment {
        width: 100%;
    }

    .first-div {
        flex-direction: column;
    }

    .second-div {
        flex-direction: column;
    }

    .flight-timing>h4 {
        padding: 1rem;
    }

    .flight-ticket {
        width: 100%;
    }

    .card-final-details input[type="text"],
    input[type="tel"] {
        width: 100%;
    }

    .card-details-button {
        flex-direction: column;
    }

    .right-final-payment {
        width: 100%;
    }

    .footer-final {
        flex-wrap: wrap;
        gap: 0.3rem;
        width: 80%;
        margin: auto;
    }

    .footer-social-links {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-base {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .container,
    .left-final-payment,
    .flight-ticket {
        max-width: 100%;
    }

    .logo {
        padding: 2rem 1rem;
    }

    main {
        margin: 0 auto;
        flex-direction: column;
    }

    .first-div,
    .second-div {
        flex-direction: column;
    }

    .flight-timing>h4 {
        padding: 1rem;
    }

    .card-final-details input[type="text"],
    input[type="tel"] {
        width: 100%;
    }

    .card-details-button {
        flex-direction: column;
        align-items: center;
    }

    .right-final-payment {
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-final {
        flex-wrap: wrap;
        gap: 0.3rem;
        width: 80%;
        margin: auto;
    }

    .footer-social-links {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-base {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .container,
    .left-final-payment,
    .flight-ticket {
        max-width: 100%;
    }

    .logo {
        padding: 2rem 1rem;
    }

    main {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .first-div,
    .second-div {
        flex-direction: column;
    }

    .flight-timing>h4 {
        padding: 1rem;
    }

    .card-final-details input[type="text"],
    input[type="tel"] {
        width: 100%;
    }

    .card-details-button {
        flex-direction: column;
        align-items: center;
    }

    .right-final-payment {
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-final {
        flex-wrap: wrap;
        gap: 0.3rem;
        width: 80%;
        margin: auto;
    }

    .footer-social-links {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-base {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    main {
        max-width: 100%;
    }

    .left-final-payment {
        width: 50%;
    }

    .right-final-payment {
        width: 50%;
        gap: 1rem;
    }

    .card-final-details input[type="text"],
    input[type="tel"],
    .flight-ticket {
        width: 100%;
    }

    .card-details-button {
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        max-width: 100%;
        margin: 5% 5%;
    }

    .footer-social-links {
        gap: 1rem;
    }

    .footer-base {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }

    .footer-final {
        flex-wrap: wrap;
        gap: 0.3rem;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #ffffff;
    color: rgb(230, 58, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}