@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.offer-section {
    max-width: 80%;
    margin: 0 auto;
    max-height: 40rem;
}

.offer-section h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
}


.image-1 {
    width: 18.75rem;
    height: 17.5rem;
    background-size: center;
}

.image-2 {
    width: 37rem;
    height: 17.5rem;
    background-size: cover;
}

.image-container {
    position: relative;
}

.image-container a {
    position: absolute;
    gap: 0.5rem;
    z-index: 1;
    top: 14rem;
    left: 1rem;
    background-color: #07689F;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #07689F;
    text-decoration: none;
}

.image-container a button img {
    margin-top: 20px;
}